<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        
        <a href="/">Home</a> 
        <a href="/tricks-page">Curiosities</a>
        <a href="/about-page">About</a>
    
    </nav>

    <h2>This is the website to visit if you love dogs</h2>


    <div class ="container">

    <div class ="paragraph">
        <h4>Welcome!! Lorem ipsum dolor sit amet consectetur!</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor reiciendis amet provident cumque ex eius officiis, magnam molestiae, odit tempore beatae soluta eveniet dolorem molestias ducimus ab, minus libero consequatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloremque quibusdam, ea repudiandae deleniti explicabo error, nisi obcaecati, eveniet ratione adipisci ad ab odit eligendi debitis officia nemo alias quas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam, quibusdam cum! Quo at fugit deserunt quas voluptatibus, doloribus iste eaque! Perspiciatis at quae nostrum necessitatibus error blanditiis! Sed, quos fugiat.</p>
    </div>
    <div class ="images">

        <img src="/images/doggobeanie.jpg" alt="where's doggobeanie?">
       
    </div>
    </div>
    
</body>
</html>