<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body id="tricks">
    <nav>
        
        <a href="/">Home</a> 
        <a href="/tricks-page">Curiosities</a>
        <a href="/about-page">About</a>
    
    </nav>
    <h2>Wow! she can do all that!</h2>
    <div class= "container">

    </div>
    <div class ="paragraph">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor reiciendis amet provident cumque ex eius officiis, magnam molestiae, odit tempore beatae soluta eveniet dolorem molestias ducimus ab, minus libero consequatur?</p>

    </div>

    <div class ="images">
        <img src="/images/dogwhat.jpg" alt="where's dogwhat?">
    </div>
    </div>
    
</body>
</html>